#%RAML 1.0
title: JISC Organisation API
version: v1
baseUri: https://www.jisc.ac.uk
types:
  Organisation:
    type: object
    properties:
      organisationUUID: string
      organisationName: string
      organisationType:
        type: string
        enum: ["charity",
               "commercial",
               "funder",
               "furtherEducation",
               "government",
               "health",
               "higherEducation",
               "other",
               "professionalBody",
               "research",
               "school",
               "skills"]


/organisations:
  get:
    responses:
      200:
        body:
          application/json:
            type: Organisation[]
            example: |
              [
                {
                  "organisationUUID": "274",
                  "organisationName": "University of Winchester",
                  "organisationType": "higherEducation"
                },
                {
                  "organisationUUID": "1539",
                  "organisationName": "Imperial College of Science, Technology and Medicine",
                  "organisationType": "charity"
                }
              ]
/organisations/{name}:
  get:
    responses:
      200:
        body:
          application/json:
            type: Organisation
            example: |
              {
                "organisationUUID": "274",
                "organisationName": "University of Winchester",
                "organisationType": "higherEducation"
              }
/organisations/{type}:
  get:
    responses:
      200:
        body:
          application/json:
            type: Organisation[]
            example: |
              [
                {
                  "organisationUUID": "240",
                  "organisationName": "St Mary's University, Twickenham",
                  "organisationType": "charity"
                },
                {
                  "organisationUUID": "1539",
                  "organisationName": "Imperial College of Science, Technology and Medicine",
                  "organisationType": "charity"
                }
              ]
